$break-point: 600px;

body {
  font-family: Arial, Helvetica, sans-serif;
  background: lightblue;
}

button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
}

.title {
  padding: 32px 16px;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
}

.form {
  background-color: #eee;
  padding: 32px 16px;
  font-size: 18px;
}

.row {
  margin-bottom: 8px;
}

.input {
  border: none;
  background: none;
  height: 24px;
}

.input::placeholder {
  font-size: 18px;
}

#submit {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
}

#submit:hover {
  opacity: 0.8;
}

#reset-btn {
  background-color: lightgray;
  color: black;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
}

#reset-btn:hover {
  opacity: 0.8;
}

.trip {
  background-color: lightpink;
  padding: 32px 0;
  margin-bottom: 4px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  transition: all 0.4s ease;

  @media (min-width: $break-point) {
    padding: 32px 16px;
    grid-template-columns: 1fr 1fr;
  }
}

.trip:hover {
  background-color: #ffb6c17a;
}

.img {
  width: 100%;
}

.trip-info {
  display: block;
  padding: 0 16px;

  @media (min-width: $break-point) {
    padding: 0;
  }
}

.place {
  font-size: 18px;
  font-weight: bold;
}

.date {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.remove-btn {
  margin-bottom: 16px;
  background-color: white;
}

.remove-btn:hover {
  background-color: #eee;
}

.days-from-now {
  font-size: 16px;
  margin-bottom: 16px;
}

.weather-title {
  font-size: 16px;
  margin-bottom: 8px;
}

.weather {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.weather-icon {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}